.main-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

p {
    text-align: justify;
    line-height: 1.8;
}

.right-text,
.left-text {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    gap: 1rem;
    border-bottom: 1px solid #D72638;

    width: 100%;
}

.right-text {
    flex-flow: row-reverse wrap;
    text-align: right;
}

.left-text {
    flex-flow: row wrap;
    text-align: left;
}

.left-text p,
.right-text p {
    max-width: 35rem;
    min-width: 15rem;
    margin: 0;
    flex: 1 1;
}

.left-text img,
.right-text img {
    max-width: 30rem;
    min-width: 20rem;
    max-height: 30rem;
    object-fit: cover;
    flex: 2 1;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    main {
        padding: 0;
    }

    .left-text,
    .right-text {
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        border-bottom: 1px solid #D72638;
    }

    .left-text:last-of-type,
    .right-text:last-of-type{
        border-bottom: 0px;
    }

    .left-text p,
    .right-text p {
        max-width: 90%;
    }

    .left-text img,
    .right-text img {
        max-width: 80%;
        height: auto;
        margin-bottom: 1rem;
    }

    .main-content {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        box-shadow: none;
        padding: 1rem;
        border: 0px;
        background: #121212;
    }

}