.main-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

hr.tracklist {
    width: 100%;
    border: 1px dashed #f5f5f5;
    margin-bottom: 0.5rem;
}

.review {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.review-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    flex: 1;
    max-width: 60%;
    padding: 1.5rem;

    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 768px) {
    main {
        padding: 0;
    }

    h1{
        text-align: center;
    }

    h2{
        text-align: center;
    }

    .left {
        justify-items: center;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    .left img {
        display: block;
        margin: 0 auto 1rem auto;
        max-width: 80%;
        height: auto;
    }

    .tracklist h3{
        max-width: 100%;
        text-align: center;
    }

    .review-text {
        max-width: 90%;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        padding: 1rem;
        border: 0px;
        background: #121212;

        border-top: 4px solid #f5f5f5;
    }

    .review {
        justify-content: center;
        align-self: center;
        border-bottom: 1px solid #D72638;
    }

    .review:last-child {
        border-bottom: none;
    }

    .review a {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .review img {
        max-width: 80%;
        max-height: 18rem;
    }

    .review-text {
        text-align: center;
    }

    p {
        text-align: justify;
    }
}